
@model FilmlerKategori


<form asp-controller="FilmlerKategori" asp-action="Update" method="post">
   
    <div class="mb-3">
      <label asp-for="FilmlerId" class="form-label">Film Id</label>
      <input type="text" class="form-control" asp-for="FilmlerId">
    </div>

    <div class="mb-3">
      <label asp-for="KategoriId" class="form-label">Kategori Id</label>
      <input type="text" class="form-control" asp-for="KategoriId">
    </div>

     <div class="mb-3">
      <label asp-for="PaketId" class="form-label">Paket Id</label>
      <input type="text" class="form-control" asp-for="PaketId">
    </div>

  


    <input type="submit" class="btn btn-primary" value="Kaydet"/>
    <a class="btn btn-info" asp-action="Index" asp-controller="FilmlerKategori">Listeye Geri Dön</a>

</form>