
@model Kategori


<form asp-controller="Kategori" asp-action="Create" method="post">
   
     <div class="mb-3">
      <label asp-for="KategoriAdi" class="form-label">Kategori Adi</label>
      <input type="text" class="form-control" asp-for="KategoriAdi">
    </div>

    <div class="mb-3">
      <label asp-for="FilmAdi" class="form-label">Film Adi</label>
      <input type="text" class="form-control" asp-for="FilmAdi">
    </div>
   
   

     <button type="submit" class="btn btn-primary">Kaydet</button>
   
    <a class="btn btn-info" asp-action="Index" asp-controller="Kategori">Listeye Geri Dön</a>

</form>