
<body style="background-image: url('img/filmm.jpg');background-size: 100% 100%;" >
  <div class="text-center">
   
     <div class="container">
        <div class="row" style="margin-top:50px">
            <style type="text/css">
        .metin {
            width: 170px;
            height: 150px;
            float: left;
            margin-right: 12px;
            border-radius: 10px;
            line-height: 150px;
            text-align: center;
            font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
            font-size: large;
                }
            </style>
         </div>
     </div>
                <div class="card-body">
                    <div class="col-lg-12">
                        <p id="metin1" lang="tr" class="metin" style="background-image: url('img/filmm.jpg');background-size: 100% 100%;">metin1</p>
                        <p id="metin2" lang="en" class="metin" style="background-image: url('img/alacakaranlık.jpg');background-size: 100% 100%;">metin2</p>
                        <p id="metin3" lang="tr" class="metin" style="background-image: url('img/arif.jpg');background-size: 100% 100%;">metin3</p>
                        <p id="BaMetin4" lang="fr" class="metin" style="background-image: url('img/assasin.jpg');background-size: 100% 100%;">BaMetin4</p>
                        <p id="metin5" lang="tr" class="metin" style="background-image: url('img/batman.jpg');background-size: 100% 100%;">metin5</p>
                        <p id="BaMetin6" lang="en" class="metin" style="background-image: url('img/carlie.jpg');background-size: 100% 100%;">BaMetin6</p>
                        <p id="BaMetin6" lang="en" class="metin" style="background-image: url('img/dream.jpg');background-size: 100% 100%;">BaMetin6</p>
                        <p id="BaMetin6" lang="en" class="metin" style="background-image: url('img/everest.jpg');background-size: 100% 100%;">BaMetin6</p>
                        <p id="BaMetin6" lang="en" class="metin" style="background-image: url('img/hızlı.jpg');background-size: 100% 100%;">BaMetin6</p>
                        <p id="BaMetin6" lang="en" class="metin" style="background-image: url('img/karayipkorsanları.jpg');background-size: 100% 100%;">BaMetin6</p>
                        <p id="BaMetin6" lang="en" class="metin" style="background-image: url('img/superman.jpg');background-size: 100% 100%;">BaMetin6</p>
                        <p id="BaMetin6" lang="en" class="metin" style="background-image: url('img/yenilmezler.jpg');background-size: 100% 100%;">BaMetin6</p>


                    </div>
                </div>
             
 
  </div>
</body>
