@using Film.Entities
@model Adres


<form asp-controller="Adres" asp-action="Update" method="post">
   
    <div class="mb-3">
      <label asp-for="AdSoyad" class="form-label">Ad Soyad</label>
      <input type="text" class="form-control" asp-for="AdSoyad">
    </div>
    <div class="mb-3">
      <label asp-for="TcNo" class="form-label">Tc Kimlik</label>
      <input type="text" class="form-control" asp-for="TcNo">
    </div>
    <div class="form-group">
          <label asp-for="SehirId" class="control-label">Sehir</label>
          <select asp-for="SehirId" id="sehirlerCombo">
          <option>Seciniz</option>
          </select>
                        
     </div>
     <div class="form-group">
          <label asp-for="IlceId" class="control-label">Ilce</label>
          <select asp-for="IlceId" id="ilcelerCombo">
          <option>Seciniz</option>
          </select>
                        
     </div>
    <div class="mb-3">
      <label asp-for="CaddeSokak" class="form-label">CaddeSokak</label>
      <input type="text" class="form-control" asp-for="CaddeSokak">
    </div>
    <div class="mb-3">
      <label asp-for="DısKapiNo" class="form-label">DısKapi No</label>
      <input type="text" class="form-control" asp-for="DısKapiNo">
    </div>
    <div class="mb-3">
      <label asp-for="IcKapiNo" class="form-label">IcKapi No</label>
      <input type="text" class="form-control" asp-for="IcKapiNo">
    </div>
    <div class="mb-3">
      <label asp-for="AdresTip" class="form-label">Adres Tip</label>
      <input type="text" class="form-control" asp-for="AdresTip">
    </div>
   

     <button type="submit" class="btn btn-primary">Kaydet</button>
   
    <a class="btn btn-info" asp-action="Index" asp-controller="Adres">Listeye Geri Dön</a>

</form>
@section Scripts
{
    <script type="text/javascript">
    
    $(document).ready(function() {    // Bütün Dokuman yuklendikten conra aşagidaki kodlar calissin.
       
        var sehirlerUrl = "http://localhost:5073/api/Sehir";
        
        $.ajax({
            url: sehirlerUrl,
            type: 'GET',
            dataType: 'json',
            success: function(result) {
                for (let key in result) {
                    $("#sehirlerCombo")
                    .append("<option value=" + result[key].id + ">" + result[key].sehirAdi + "</option>");
                }
            }
        });//Ajax
        //SehirlerCombo degisklik oldugunda yapilacaklar
        $("#sehirlerCombo").change(function() {
            var sehirId = $(this).find(":selected").val();
            var ilceUrl = "http://localhost:5073/api/Ilce?sehirId=" + sehirId;
            $.ajax({
            url: ilceUrl,
            type: 'GET',
            dataType: 'json',
            success: function(result) {
                console.log(result);
                $("#ilcelerCombo").children().remove();
                for (let key in result) {
                    $("#ilcelerCombo")
                    .append("<option value=" + result[key].id + ">" + result[key].ilceAdi + "</option>");
                }
            }
        });//Ajax
        });
    })
       
    </script>
}
