@{
    ViewData["Title"] = "Home Page";
}
<body style="background-image: url('img/film3.jpg');background-size: 100% 100%;"  >
<div class="text-center"  >
    <h1 class="display-4" style="color:#f00;"><b>Hoş Geldiniz</b></h1>
    <h4 class="display-4"><b>Sayın @Context.User.Identity.Name</b></h4>
   
</div>
</body>