@{
    ViewData["Title"] = "Film Dukkani";
}
<body style="background-image: url('img/film3.jpg');background-size: 100% 100%;"  >
<div class="text-center"  >
    <h1 class="display-4" style="color:#f00;font-weight: bold;"><b>Hoş Geldiniz</b></h1>
    <h4 class="display-4"><b>Sayın @Context.User.Identity.Name</b></h4>
   <iframe width="560" 
                height="315" 
                src="http://www.youtube.com/embed/fxCEcPxUbYA" 
                frameborder="0" 
                allowfullscreen></iframe>
</div>
</body>