
<body style="background-image: url('img/gok.jpg');background-size: 100% 100%;" >
  <div class="text-center">
   
     <div class="container">
        <div class="row" style="margin-top:50px">
            <style type="text/css">
        .metin {
            width: 200px;
            height: 200px;
            float: left;
            margin-right: 12px;
            border-radius: 10px;
            line-height: 150px;
            text-align: center;
            -webkit-box-shadow:7px 7px 5px 0px rgba(0,0,0,0.75);
            font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
            font-size: large;
                }
        .buyutec
             {
          position: relative;
      -webkit-transform: scale(1);
      -ms-transform: scale(1);
          -moz-transform: scale(1);
        transition: all .3s ease-in;
       -moz-transition: all .3s ease-in;
        -webkit-transition: all .3s ease-in;
       -ms-transition: all .2s ease-in;
       width:200px;
       height:200px;
        float:left;
        padding:5px;
         }

     .buyutec:hover
          {
          z-index:4;
       -webkit-transform: scale(1.5);
        -ms-transform: scale(1.5);  
       -moz-transform: scale(1.5);
        transform: scale(1.5);
          }
            </style>
         </div>
     </div>
                <div class="card-body">
                    <div class="col-lg-12">
                        <p id="metin1" lang="tr" class="buyutec" style="background-image: url('img/13mez.jpg');background-size: 100% 100%;"></p>
                        <p id="metin2" lang="en" class="buyutec" style="background-image: url('img/alacakaranlık.jpg');background-size: 100% 100%;"></p>
                        <p id="metin3" lang="tr" class="buyutec" style="background-image: url('img/arif.jpg');background-size: 100% 100%;"></p>
                        <p id="BaMetin4" lang="fr" class="buyutec" style="background-image: url('img/assasin.jpg');background-size: 100% 100%;"></p>
                        <p id="metin5" lang="tr" class="buyutec" style="background-image: url('img/astral.jpg');background-size: 100% 100%;"></p>
                        <p id="BaMetin6" lang="en" class="buyutec" style="background-image: url('img/ates.jpg');background-size: 100% 100%;"></p>
                        <p id="BaMetin6" lang="en" class="buyutec" style="background-image: url('img/batman.jpg');background-size: 100% 100%;"></p>
                        <p id="BaMetin6" lang="en" class="buyutec" style="background-image: url('img/carlie.jpg');background-size: 100% 100%;"></p>
                        <p id="BaMetin6" lang="en" class="buyutec" style="background-image: url('img/cenever.jpg');background-size: 100% 100%;"></p>
                        <p id="BaMetin6" lang="en" class="buyutec" style="background-image: url('img/days.jpg');background-size: 100% 100%;"></p>
                        <p id="BaMetin6" lang="en" class="buyutec" style="background-image: url('img/doe.jpg');background-size: 100% 100%;"></p>
                        <p id="BaMetin6" lang="en" class="buyutec" style="background-image: url('img/dr.jpg');background-size: 100% 100%;"></p>
                        <p id="BaMetin6" lang="en" class="buyutec" style="background-image: url('img/dream.jpg');background-size: 100% 100%;"></p>
                        <p id="BaMetin6" lang="en" class="buyutec" style="background-image: url('img/echos.jpg');background-size: 100% 100%;"></p>
                        <p id="BaMetin6" lang="en" class="buyutec" style="background-image: url('img/everest.jpg');background-size: 100% 100%;"></p>
                        <p id="BaMetin6" lang="en" class="buyutec" style="background-image: url('img/fort.jpg');background-size: 100% 100%;"></p>
                        <p id="BaMetin6" lang="en" class="buyutec" style="background-image: url('img/harry.jpg');background-size: 100% 100%;"></p>
                        <p id="BaMetin6" lang="en" class="buyutec" style="background-image: url('img/hayalet.jpg');background-size: 100% 100%;"></p>
                        <p id="BaMetin6" lang="en" class="buyutec" style="background-image: url('img/hızlı.jpg');background-size: 100% 100%;"></p>
                        <p id="BaMetin6" lang="en" class="buyutec" style="background-image: url('img/hulk.jpg');background-size: 100% 100%;"></p>
                        <p id="BaMetin6" lang="en" class="buyutec" style="background-image: url('img/ıron.jpg');background-size: 100% 100%;"></p>
                        <p id="BaMetin6" lang="en" class="buyutec" style="background-image: url('img/intikam.jpg');background-size: 100% 100%;"></p>
                        <p id="BaMetin6" lang="en" class="buyutec" style="background-image: url('img/kaos.jpg');background-size: 100% 100%;"></p>
                        <p id="BaMetin6" lang="en" class="buyutec" style="background-image: url('img/kaplan.jpg');background-size: 100% 100%;"></p>
                        <p id="BaMetin6" lang="en" class="buyutec" style="background-image: url('img/karadul.jpg');background-size: 100% 100%;"></p>
                        <p id="BaMetin6" lang="en" class="buyutec" style="background-image: url('img/karakutu.jpg');background-size: 100% 100%;"></p>
                        <p id="BaMetin6" lang="en" class="buyutec" style="background-image: url('img/karayipkorsanları.jpg');background-size: 100% 100%;"></p>
                        <p id="BaMetin6" lang="en" class="buyutec" style="background-image: url('img/kayıp.jpg');background-size: 100% 100%;"></p>
                        <p id="BaMetin6" lang="en" class="buyutec" style="background-image: url('img/kod355.jpg');background-size: 100% 100%;"></p>
                        <p id="BaMetin6" lang="en" class="buyutec" style="background-image: url('img/kuralsız.jpg');background-size: 100% 100%;"></p>
                        <p id="BaMetin6" lang="en" class="buyutec" style="background-image: url('img/lanetli.jpg');background-size: 100% 100%;"></p>
                        <p id="BaMetin6" lang="en" class="buyutec" style="background-image: url('img/madgod.jpg');background-size: 100% 100%;"></p>
                        <p id="BaMetin6" lang="en" class="buyutec" style="background-image: url('img/maxx.jpg');background-size: 100% 100%;"></p>
                        <p id="BaMetin6" lang="en" class="buyutec" style="background-image: url('img/moon.jpg');background-size: 100% 100%;"></p>
                        <p id="BaMetin6" lang="en" class="buyutec" style="background-image: url('img/oluler.jpg');background-size: 100% 100%;"></p>
                        <p id="BaMetin6" lang="en" class="buyutec" style="background-image: url('img/oncephe.jpg');background-size: 100% 100%;"></p>
                        <p id="BaMetin6" lang="en" class="buyutec" style="background-image: url('img/orumcek.jpg');background-size: 100% 100%;"></p>
                        <p id="BaMetin6" lang="en" class="buyutec" style="background-image: url('img/ölümyarısııı.jpg');background-size: 100% 100%;"></p>
                        <p id="BaMetin6" lang="en" class="buyutec" style="background-image: url('img/radd.jpg');background-size: 100% 100%;"></p>
                        <p id="BaMetin6" lang="en" class="buyutec" style="background-image: url('img/rogue.jpg');background-size: 100% 100%;"></p>
                        <p id="BaMetin6" lang="en" class="buyutec" style="background-image: url('img/samar.jpg');background-size: 100% 100%;"></p>
                        <p id="BaMetin6" lang="en" class="buyutec" style="background-image: url('img/samson.jpg');background-size: 100% 100%;"></p>
                        <p id="BaMetin6" lang="en" class="buyutec" style="background-image: url('img/sherlock.jpg');background-size: 100% 100%;"></p>
                        <p id="BaMetin6" lang="en" class="buyutec" style="background-image: url('img/sonıc.jpg');background-size: 100% 100%;"></p>
                        <p id="BaMetin6" lang="en" class="buyutec" style="background-image: url('img/superman.jpg');background-size: 100% 100%;"></p>
                        <p id="BaMetin6" lang="en" class="buyutec" style="background-image: url('img/tasıyısı.jpg');background-size: 100% 100%;"></p>
                        <p id="BaMetin6" lang="en" class="buyutec" style="background-image: url('img/thor.jpg');background-size: 100% 100%;"></p>
                        <p id="BaMetin6" lang="en" class="buyutec" style="background-image: url('img/topgun.jpg');background-size: 100% 100%;"></p>
                        <p id="BaMetin6" lang="en" class="buyutec" style="background-image: url('img/tornn.jpg');background-size: 100% 100%;"></p>
                        <p id="BaMetin6" lang="en" class="buyutec" style="background-image: url('img/transfor.jpg');background-size: 100% 100%;"></p>
                        <p id="BaMetin6" lang="en" class="buyutec" style="background-image: url('img/troon.jpg');background-size: 100% 100%;"></p>
                        <p id="BaMetin6" lang="en" class="buyutec" style="background-image: url('img/uyumsuz.jpg');background-size: 100% 100%;"></p>
                        <p id="BaMetin6" lang="en" class="buyutec" style="background-image: url('img/vangua.jpg');background-size: 100% 100%;"></p>
                        <p id="BaMetin6" lang="en" class="buyutec" style="background-image: url('img/wan.jpg');background-size: 100% 100%;"></p>
                        <p id="BaMetin6" lang="en" class="buyutec" style="background-image: url('img/whip.jpg');background-size: 100% 100%;"></p>
                        <p id="BaMetin6" lang="en" class="buyutec" style="background-image: url('img/xmen.jpg');background-size: 100% 100%;"></p>
                        <p id="BaMetin6" lang="en" class="buyutec" style="background-image: url('img/xxx.jpg');background-size: 100% 100%;"></p>
                        <p id="BaMetin6" lang="en" class="buyutec" style="background-image: url('img/yenilmezler.jpg');background-size: 100% 100%;"></p>
                        <p id="BaMetin6" lang="en" class="buyutec" style="background-image: url('img/yesil.jpg');background-size: 100% 100%;"></p>
                        <p id="BaMetin6" lang="en" class="buyutec" style="background-image: url('img/yuzuk.jpg');background-size: 100% 100%;"></p>


                    </div>
                </div>
             
 
  </div>
</body>

