@using Film.Entities
@model Adres


<form asp-controller="Adres" asp-action="Update" method="post">
   
   <div class="mb-3">
      <label asp-for="AdSoyad" class="form-label">Ad Soyad</label>
      <input type="text" class="form-control" asp-for="AdSoyad">
    </div>
    <div class="mb-3">
      <label asp-for="TcNo" class="form-label">Tc Kimlik</label>
      <input type="text" class="form-control" asp-for="TcNo">
    </div>
    
    <div class="mb-3">
      <label asp-for="SehirId" class="form-label">Sehir Id</label>
      <input type="text" class="form-control" asp-for="SehirId">
    </div>
    <div class="mb-3">
      <label asp-for="IlceId" class="form-label">Ilce Id</label>
      <input type="text" class="form-control" asp-for="IlceId">
    </div>
    <div class="mb-3">
      <label asp-for="CaddeSokak" class="form-label">CaddeSokak</label>
      <input type="text" class="form-control" asp-for="CaddeSokak">
    </div>
    <div class="mb-3">
      <label asp-for="DısKapiNo" class="form-label">DısKapi No</label>
      <input type="text" class="form-control" asp-for="DısKapiNo">
    </div>
    <div class="mb-3">
      <label asp-for="IcKapiNo" class="form-label">IcKapi No</label>
      <input type="text" class="form-control" asp-for="IcKapiNo">
    </div>
    <div class="mb-3">
      <label asp-for="AdresTip" class="form-label">Adres Tip</label>
      <input type="text" class="form-control" asp-for="AdresTip">
    </div>
   

     <button type="submit" class="btn btn-primary">Kaydet</button>
   
    <a class="btn btn-info" asp-action="Index" asp-controller="Adres">Listeye Geri Dön</a>

</form>
