@model Kargo

<form asp-controller="Kargo" asp-action="Delete" method="post">
  <div class="mb-3">
      <label asp-for="KargoAdi" class="form-label">@Model.KargoAdi</label>
        <input type="text" class="form-control" asp-for="KargoAdi" readonly>
    </div>

    <div class="mb-3">
      <label asp-for="KargoTel" class="form-label">@Model.KargoTel</label>
        <input type="text" class="form-control" asp-for="KargoTel" readonly>
    </div>

    <input type="hidden" asp-for="Id" />
   

    <button type="submit" class="btn btn-danger">Sil</button>

    <a class="btn btn-primary" asp-action="Index" asp-controller="Kargo">Listeye Geri Dön</a>


  

</form>