
@model Sehir


<form asp-controller="Sehir" asp-action="Create" method="post">
   
    <div class="mb-3">
      <label asp-for="SehirAdi" class="form-label">Sehir Adi</label>
      <input type="text" class="form-control" asp-for="SehirAdi">
    </div>
    
   

     <button type="submit" class="btn btn-primary">Kaydet</button>
   
    <a class="btn btn-info" asp-action="Index" asp-controller="Sehir">Listeye Geri Dön</a>

</form>